.active-item {
    min-width: max-content;
    background-color: #0C1033;
    padding: 10px;
    min-height: 50px;
    min-width: 120px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.item {
    min-width: max-content;
    background-color: #1f5a7b;
    padding: 10px;
    min-height: 50px;
    min-width: 120px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    max-width: 530px;
    width: 100%;
}

.small-margin {
    margin: 0.5em 1em;
}