@import '../../../../styles/variables.css';
.article-tag {
  background-color: var(--disactive-buttons-bg-color);
}

.articleButton {
  margin: 0 auto 120px;
  text-align: center;
}

.articleButton a {
  margin: 0;
  display: block;
  min-width: 200px;
}
