@import '..//../../../../styles/variables.css';

.button {
  background-color: var(--disactive-buttons-bg-color);
  border-radius: 2em;
  padding: 0.7em;
  outline: none;
  font-weight: 700;
  border: 0;
  color: white;
  min-width: 200px;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-size: 18px;
  margin-top: 10px;
}

.button:hover {
  background: #0c1033;
}
