@import '../../../../../styles/variables.css';
.drop-box-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.drop-box-footer {
  min-height: 206px;
  background-color: var(--footer-bg-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.drop-box-footer-text {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.lg-menu {
  display: none;
}

.drop-box-main {
  width: 100%;
  height: calc(100% - 206px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0 76px 0;
}

.drop-box-item {
  width: fit-content;
  padding: 10px;
  font-weight: 700;
  font-size: 24px;
}

@media screen and (min-width: 1024px) {
  .drop-box-container {
    display: none;
  }
  .drop-box-footer {
    flex-direction: row;
    min-height: 120px;
    justify-content: space-between;
    padding: 0 3em;
  }
  .lg-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .lg-menu > div:first-child {
    margin: auto;
  }
}
