@import '..//../../../../styles/variables.css';

.rating__button {
  background-color: var(--disactive-buttons-bg-color);
  border-radius: 2em;
  padding: 0.7em;
  outline: none;
  font-weight: 700;
  border: 0;
  color: white;
  min-width: 200px;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-size: 18px;
  margin-top: 10px;
}

.rating__button:hover {
  background: #0c1033;
}

.rating__button--small {
  background-color: var(--disactive-buttons-bg-color);
  border-radius: 2em;
  padding: 0.7em;
  outline: none;
  font-weight: 700;
  border: 0;
  color: white;
  min-width: 144px;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-size: 18px;
  margin-top: 10px;
}

.rating__--mob:hover {
  background: #0c1033;
}

@media screen and (max-width: 450px) {
  .rating__button--small {
    min-width: auto;
  }

}